<div id="header">
  <div class="container">
    <nav class="navbar navbar-default navbar-static-top">
      <div class="navbar-header">
        <button
          type="button"
          class="navbar-toggle"
          data-toggle="collapse"
          data-target=".navbar-ex1-collapse"
        >
          <span class="sr-only">Thuan</span> <span class="icon-bar"></span>
          <span class="icon-bar"></span> <span class="icon-bar"></span>
        </button>
        <img
          src="./../assets/img/logo_snow.png"
          class="img-responsive img-cirle custom-logo"
          alt="Image"
        />
      </div>
      <div class="collapse navbar-ex1-collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Dịch vụ</a></li>
          <li><a href="#">Hình ảnh</a></li>
          <li><a href="#">Đánh giá</a></li>
          <li><a href="#">Thành viên</a></li>
          <li><a href="#">Liên hệ</a></li>
          <li><a class="custom-border-right"></a></li>
          <a href="#" class="btn custom-button-nav navbar-btn">Đặt ngay</a>
          <div class="custom-align-right">
            <p class="custom-hotline">Hotline:</p>
            <p class="custom-phone">0909 456 789</p>
          </div>
        </ul>
      </div>
    </nav>
  </div>
</div>

<div id="calltoaction">
  <div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner">
        <div class="item active">
          <img src="./../assets/img/background.png" style="width:100%;" />
          <div class="carousel-caption">
            <h1>SNOW COWORKING SPACE</h1>
            <div class="custom-background-text">
              <p>
                The perfect place to work with the like-minded creative people
                around.
              </p>
              <p>We provide everything to make your day productive.</p>
            </div>
          </div>
        </div>

        <div class="item">
          <img
            src="./../assets/img/henry-ascroft-1154105-unsplash.jpg"
            style="width:100%;"
          />
          <div class="carousel-caption">
            <h1>SNOW COWORKING SPACE</h1>
            <div class="custom-background-text">
              <p>
                The perfect place to work with the like-minded creative people
                around.
              </p>
              <p>We provide everything to make your day productive.</p>
            </div>
          </div>
        </div>

        <div class="item">
          <img
            src="./../assets/img/lonely-planet-973270-unsplash.jpg"
            style="width:100%;"
          />
          <div class="carousel-caption">
            <h1>SNOW COWORKING SPACE</h1>
            <div class="custom-background-text">
              <p>
                The perfect place to work with the like-minded creative people
                around.
              </p>
              <p>We provide everything to make your day productive.</p>
            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="feauture1">
  <div class="container">
    <h3>Dịch vụ</h3>
    <p>What we have to offer!</p>
  </div>
</div>

<div class="feauture2">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-push-2">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/_V6jQ_PJ4Ks"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</div>

<div class="feauture3">
  <div class="container">
    <div style="display: inline">
      <div class="row">
        <img class="hvr-ripple-out" src="./../assets/img/about-section5.png" />
        <p class="custom-text-first">Văn phòng</p>
        <p>sang trọng cao cấp</p>
      </div>
    </div>
    <div style="display: inline">
      <div class="row">
        <img src="./../assets/img/about-section4.png" />
        <p class="custom-text-first">Phục vụ miễn phí</p>
        <p>cà phê, trà</p>
      </div>
    </div>
    <div style="display: inline">
      <div class="row">
        <img src="./../assets/img/about-section3.png" />
        <p class="custom-text-first">Quầy bar ngoài trời,</p>
        <p>ngắm cảnh thành phố</p>
      </div>
    </div>
    <div style="display: inline">
      <div class="row">
        <img src="./../assets/img/about-section2.png" />
        <p class="custom-text-first">Miễ phí sử dụng</p>
        <p>phòng gym, hồ bơi</p>
      </div>
    </div>
    <div style="display: inline">
      <div class="row">
        <img src="./../assets/img/about-section1.png" />
        <p class="custom-text-first">Công viên ven sông</p>
        <p>lớn nhất Việt Nam</p>
      </div>
    </div>
  </div>
</div>

<div class="feauture4">
  <h1>Hình ảnh</h1>
  <p>Just they know fun working here is</p>
</div>

<div class="feauture5">
  <div class="row">
    <div class="colum">
      <span><img src="./../assets/img/photo1.png"/></span>
      <img src="./../assets/img/photo2.png" />
      <img src="./../assets/img/photo3.png" />
      <img src="./../assets/img/photo4.png" />
      <img src="./../assets/img/photo5.png" />
    </div>
    <div class="colum">
      <img src="./../assets/img/photo6.png" />
      <img src="./../assets/img/photo7.png" />
      <img src="./../assets/img/photo8.png" />
      <img src="./../assets/img/photo9.png" />
      <img src="./../assets/img/photo10.png" />
    </div>
  </div>
</div>

<div class="feauture6">
  <div class="container">
    <h3>Nhận xét khách hàng</h3>
    <p>
      What members say about us and probably you’d say it as well if becoming a
      member.
    </p>
  </div>
</div>

<div class="feauture7">
  <div class="autoplay">
    <div class="custom-testimonial">
      <img src="./../assets/img/avatar1.png" />
      <h4>Robert Olson, Developer:</h4>
      <p>Aenean sollicitudin, lorem quis bibendum</p>
      <p>auctor, nisi elit consequat ipsum, nec</p>
      <p>sagittis sem nibh id elit.</p>
      <h1>”</h1>
    </div>
    <div class="custom-testimonial">
      <img src="./../assets/img/avatar1.png" />
      <h4>Albert Lee, Developer:</h4>
      <p>Aenean sollicitudin, lorem quis bibendum</p>
      <p>auctor, nisi elit consequat ipsum, nec</p>
      <p>sagittis sem nibh id elit.</p>
      <h1>”</h1>
    </div>
    <div class="custom-testimonial">
      <img src="./../assets/img/avatar2.png" />
      <h4>Robert Olson, UI designer:</h4>
      <p>Aenean sollicitudin, lorem quis bibendum</p>
      <p>auctor, nisi elit consequat ipsum, nec</p>
      <p>sagittis sem nibh id elit.</p>
      <h1>”</h1>
    </div>
    <div class="custom-testimonial">
      <img src="./../assets/img/avatar3.png" />
      <h4>Nicole Duncan, Investor:</h4>
      <p>Aenean sollicitudin, lorem quis bibendum</p>
      <p>auctor, nisi elit consequat ipsum, nec</p>
      <p>sagittis sem nibh id elit.</p>
      <h1>”</h1>
    </div>
    <div class="custom-testimonial">
      <img src="./../assets/img/avatar4.png" />
      <h4>Daniel Fox, Marketer:</h4>
      <p>Aenean sollicitudin, lorem quis bibendum</p>
      <p>auctor, nisi elit consequat ipsum, nec</p>
      <p>sagittis sem nibh id elit.</p>
      <h1>”</h1>
    </div>
  </div>
</div>

<div class="feauture8">
  <div class="custom-row">
    <div class="panel panel-default custom-panel">
      <div class="panel-heading"><h3 class="panel-title">Khách ngày</h3></div>
      <div class="panel-body">
        <i class="fas fa-check"></i>
        <p>Something</p>
      </div>
      <div class="panel-body">
        <i class="fas fa-check"></i>
        <p>Something</p>
      </div>
      <div class="panel-body">
        <i class="fas fa-check"></i>
        <p>Something</p>
      </div>
      <div class="panel-body">
        <i class="fas fa-check"></i>
        <p>Something</p>
      </div>
      <div class="panel-footer">
        <h1>150.000</h1>
        <p>ngày</p>
        <a href="#" class="btn custom-button navbar-btn">Đăng kí ngay</a>
      </div>
    </div>
    <div class="panel panel-default custom-panel">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span class="glyphicon glyphicon-star-empty"></span>VVIP
        </h3>
      </div>
      <div class="panel-body">
        <i class="fas fa-check"></i>
        <p>Something</p>
      </div>
      <div class="panel-body">
        <i class="fas fa-check"></i>
        <p>Something</p>
      </div>
      <div class="panel-body">
        <i class="fas fa-check"></i>
        <p>Something</p>
      </div>
      <div class="panel-body">
        <i class="fas fa-check"></i>
        <p>Something</p>
      </div>
      <div class="panel-footer">
        <h1>5.000.000</h1>
        <p>tháng</p>
        <a href="#" class="btn custom-button navbar-btn">Đăng kí ngay</a>
      </div>
    </div>
    <div class="panel panel-default custom-panel">
      <div class="panel-heading"><h3 class="panel-title">VIP</h3></div>
      <div class="panel-body">
        <i class="fas fa-check"></i>
        <p>Something</p>
      </div>
      <div class="panel-body">
        <i class="fas fa-check"></i>
        <p>Something</p>
      </div>
      <div class="panel-body">
        <i class="fas fa-check"></i>
        <p>Something</p>
      </div>
      <div class="panel-body">
        <i class="fas fa-check"></i>
        <p>Something</p>
      </div>
      <div class="panel-footer">
        <h1>3.000.000</h1>
        <p>tháng</p>
        <a href="#" class="btn custom-button navbar-btn">Đăng kí ngay</a>
      </div>
    </div>
  </div>
</div>

<div class="feauture9">
  <div class="row">
    <div class="col-sm-5 custom-list-right">
      <div class="col-sm-5">
      </div>
      <div class="col-sm-7">
        <div class="custom-width">
        <h3>CO-WORKING</h3>
      <p>Park 1 - Zone A | Vinhomes Central Park</p>
      <p>Lầu 18, Phòng 2, 208 Nguyễn Hữu Cảnh</p>
      <p class="custom-bottom">Phường 22, Q. Bình Thạnh, TP. HCM</p>
      <h5>Phone: 0909 456 789</h5>
      <h5>Email: info@snowoffice.vn</h5>
      </div>
        </div>
      
    </div>
    <div class="col-sm-7">
        <img class="custom-image" src="./../assets/img/footer.png" />
    </div>
  </div>
</div>

<div class="footer">
  <p style="display: inline">Snow CoWorking, 2018</p>
  <img class="custom-image" src="./../assets/img/face.png" />
  <img class="custom-image" src="./../assets/img/ins.png" />
</div>